@media only screen and (max-width: 1285px) {
  .container,
  .scroll-up-container {
    width: 95%;
  }
}

@media only screen and (max-width: 1160px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }
  .footer__info {
    width: 100%;
  }
  .footer__info_heading,
  .footer__info_subheading {
    text-align: center;
  }
  .footer__info_subheading {
    margin-top: 5px;
  }
  /* .footer__info_subheading br {
    display: none;
  } */
  .footer__form {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .header__top {
    flex-direction: column;
    justify-content: center;
  }
  .header__nav {
    justify-content: space-between;
    width: 100%;
  }
  .header__nav_logo {
    margin-right: 0;
  }
  .header__contact {
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 30px;
  }
  /* .header__contact_additional {
    right: unset;
    left: 0;
    text-align: center;
    width: 100%;
  } */

  .cats__list_cat {
    width: calc(50% - 20px);
  }
  .cats__showMore {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header__nav {
    position: relative;
  }
  .header__nav_list {
    display: none;
  }
  .header__contact {
    margin-right: 0;
  }
  .burgerMenu-btn {
    display: inline-flex;
  }
  .header__nav_burgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cats__list_cat {
    width: 100%;
  }

  footer {
    padding-bottom: 32px;
  }

}

@media only screen and (max-width: 645px) {
  .footer__form_fields {
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
  }
  .footer__form_fields_btn {
    margin-left: 0;
    margin-top: 16px;
    padding: 23px 0;
  }
  .footer__form,
  .footer__form_fields,
  .footer__form_fields_input,
  .footer__form_fields_btn {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  header {
    background-position: center center;
  }
  .header__contact {
    align-self: center;
    font-size: 20px;
    margin-top: 18px;
  }
  .header__contact_additional {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
  .header__bottom {
    font-size: 24px;
    align-self: center;
  }
  header {
    padding-bottom: 40px;
  }
  .sort__content {
    flex-direction: column;
  }
  .sort {
    padding: 15px;
  }
  .sort__price {
    margin: 0;
  }

  .cats__showMore {
    margin-top: 21px;
  }

  footer {
    padding-top: 40px;
    padding-bottom: 0;
  }
  footer .container {
    width: 100%;
  }
  .footer__content {
    padding: 33px 30px;
  }
  .footer__info_heading {
    font-size: 36px;
  }
  .footer__info_subheading {
    font-size: 22px;
  }
}

@media only screen and (max-width: 350px) {
  .cat__details {
    padding: 0 5px 0 0;
  }
  .footer__info_heading {
    line-height: 30px;
  }
}